body {	
	background-image: url("background.jpg");
	background-size: 100%;
}
header {
	font-family: Comfortaa;
	margin-left : 350px;
	font-size: 50px;
	height : 150px;
	 animation-name: Title;
  animation-duration: 20s;
}
footer {
  position: fixed;
  top: 800px;
  left:10px;
  width: 300px;
  border: 5px solid #b39f7a;
  border-radius: 25px; 
  background-color : #E1E8ED;
  	font-family: oswald;
}
#ft {
	margin-left : 40px; 
}
#text {
	text-align: center;
	font-size: 25px;
	width : 500px;
	height: 30px;
	border-radius: 40px;
	box-sizing: 100px;
	outline: none;
}
#button{
	width : 100px;
	height: 35px;
	left: 550px;
	border-radius: 25px; 
	outline: none;
}
/*#ButtonText {
	padding: 20px
}*/
#text:hover {

width : 541px;
	height: 31px;
	 animation-name: text;
 	 animation-duration: 0.4s;
}
#button:hover{
	width : 115px;
	height: 35px;
	 animation-name: button;
 	 animation-duration: 0.4s;

}
@keyframes button {
  0%   {width : 100px;
		height: 35px;}
  25%  {width : 105px;
		height: 35px;}
  50%  {width : 110px;
		height: 35px;}
  100% {width : 115px;
		height: 35px;}
}

@keyframes text {
  0%   {width : 500px;
		height: 30px;}
  10%  {width : 505px;
		height: 30px;}
  20%  {width : 510px;
		height: 30px;}
  30% {width : 518px;
		height: 30px;}
  40% {width : 523px;
        height: 30px;}
  50% {width : 525px;
		height: 30px;}
}
.list {
	font-family: Comfortaa;
		border: 5px solid #b39f7a;
 border-radius: 25px; 
  background-color : #b0acaa;
  width: 75px;
  height: 30px;
}
#H1 {
	font-family: comfortaa;	
	position: fixed;
}
/*New Fint */
@font-face {
  font-family: oswald;
  src: url(Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(Comfortaa-Light.ttf);
}
/*#buttonText{

}*/
@keyframes Title {
 0%    {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}
#H4 {
	position: fixed;;
	font-family: oswald;
margin: 0px 0px 600px 700px;
}
/*#list {
	font-family: Comfortaa;
border: 5px solid #b39f7a;
 border-radius: 25px; 
  background-color : #b0acaa;
  width: 400px;
  height: 300px;		
}*/
/*#list:hover{
 width: 405px;
  height: 305px;	
}*/
